{
  "extends": "stylelint-config-standard",
  "plugins": [
    "stylelint-scss",
    "stylelint-declaration-use-variable"
  ],
  "rules": {
    "sh-waqar/declaration-use-variable": [[
      "color",
      "background-color"
    ]],
    "scss/dollar-variable-pattern": "^(([a-z]+)-*)+$",
    "selector-max-id": 0,
    "max-nesting-depth": 1,
    "at-rule-blacklist": [
      "extend"
    ],
    "selector-max-universal": 0,
    "number-leading-zero": "never"
  }
}